html,
body {
    margin: 0;
    font-size: 100%;
	font-family: 'Niramit', sans-serif;
    background: #fff;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;

}
html {
  scroll-behavior: smooth;
}
body img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
}

p {
    margin: 0;
    line-height: 2em;
    letter-spacing: 1px;
    font-weight: 400;
	font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

/*-- header --*/
header {
    position: absolute;
    width: 100%;
    /*padding: 15px 0;*/
    z-index: 9;
}
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
}


#logo a {
	float: left;
    font-size: .8em;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    padding: 0px 0;
    border: none;
    font-weight: 600;
    text-transform: capitalize;
}
#logo a span.fa {
    color: #fff;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	}

/* Styling the links */
nav a {
     color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 13px;
    font-weight: 800;
    font-size: 15px;
    vertical-align: middle;
}
nav li.last-grid a {
    background: none;
    border: 2px solid #ffc168;
    color: #ffc168;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 7px 25px;
    display: inline-block;
    text-transform: capitalize;
    margin-top: -10px;
    border-radius: 5px;
}
nav ul li ul li:hover { background: #f8f9fa; }

/* Background color change on Hover */
nav a:hover { 
	color: #ddd;
}
.menu li.active  a{ 
	color: #fff;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 30px; 
    background: #fff;
    padding: 10px;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}
/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 991px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}
	.menu li.active a {
		color: #da9d40;
	}
	nav ul li span {
		color: #333;
	}
	nav {
		margin: 0;
	}
	nav a {
		color: #333;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding: 5px 15px;
		font-size: 20px;
		text-decoration: none;
		border: none;
		float: right;
		background-color: #ffc168;
		color: #fff;
		margin-bottom: 0;
		margin-top: 0em;
	}
	.menu .toggle {
		float: none;
		text-align: center;
		margin: auto;
		width: 30%;
		padding: 5px;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: 1px;
	}

	.toggle:hover {
		color:#333;
		background-color: #fff;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
		background: #fff;
		padding: 15px 0;
		width:100%;
		text-align: center;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		padding: 7px 0;
		}
	nav a{
		padding: 5px 0;
	}
	nav a:hover {
		color: #333;
	}
	.login-icon {
		text-align: center;
	}
	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: transparent;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
	nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #fff; 
	}
	nav ul ul li a {
		font-size: 15px;
	}
	ul.inner-ul{
		padding: 0!important;
	}
	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
		padding: 0;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
.user span.fa {
    font-size: 25px;
    color: #fff;
}
/*-- //header --*/

/*-- banner --*/
.banner {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
.layer {
    background: rgba(0, 123, 255, 0.15);
}
.w3ls_banner_txt p {
    font-size: 15px;
    color: #eee;
    text-transform: capitalize;
}
.banner-text-w3pvt {
    padding: 16vw 0 11vw;
    box-sizing: border-box;
    width: 70%;
}
.banner-form-w3pvt {
    padding: 12vw 0 0vw;
    box-sizing: border-box;
}

h3.b-w3ltxt span {
    color: #fff;
}
h2.b-w3ltxt,h3.b-w3ltxt {
    font-size: 4em;
    color: #fff;
    text-shadow: 1px 1px 0px #333;
    font-weight: 600;
}
h2.b-w3ltxt span,h3.b-w3ltxt span {
    color: #f16022;
}
h4.b-w3ltxt {
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 200;
    color: #fff;
}

.btn-banner {
    background: none;
	border: 2px solid #fff;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: inline-block;
}
.btn-banner1 {
    background: #f16022;
	border: 2px solid #f16022;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: inline-block;
}
.btn-banner:hover,.btn-banner1:hover  {
    color: #fff;
}


/*-- //banner --*/


/*-- banner bottom --*/

.bottom_grids p {
    color: #777;
}
.bottom_grids h3 {
    font-size: 25px;
    color: #333;
}
/*-- //banner bottom --*/

/*-- footer --*/
footer,.copy-right,.middle{
	background: #161616;
}
footer h4 {
    font-size: 23px;
    font-weight: 400;
    color: #fff;
}
ul.list-w3 li a, ul.list-w3 li , .footer p.head,.copy-right p,.middle  p {
    color: #777;
    font-size: 16px;
    letter-spacing: .5px;
}
ul.list-w3 li a:hover {
    color: #aaa;
}
.copy-right p a {
    color: #999;
}
.copy-right p a:hover {
    color: #eee;
}
ul.list-w3 li {
    list-style-type: none;
}
ul.list-w3 i {
    width: 25px;
    color: #888;
}
.copy-right ul.list-w3 {
    justify-content: flex-end;
}
.copy-right,.middle {
    border-top: 1px dashed #636363;
}
/*-- //footer --*/

/*-- advantages --*/
.advantages_grids p {
    color: #777;
}
.advantages_grids span.fa {
    font-size: 30px;
}

.advantages_grids h3 ,.products_grids h3 {
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #343a40;
    text-transform: capitalize;
}
.prodct1 a span.fa {
    color: #888;
    font-size: 22px;
}
.prodct1 {
}
/*-- //advantages --*/

/*-- modal popup --*/
.modal-title {
    font-size: 28px !important;
    font-weight: 700;
    padding: 0 !important;
    letter-spacing: 2px;
    color: #333;
}
.modal-body {
    font-size: 16px;
    line-height: 28px;
    color: #666;
    letter-spacing: .5px;
}
/*-- //modal popup --*/

/*-- statictics --*/
.statistics {
    background: #222;
}
.statistics p {
    color: #aaa;
}
.statistics a{
    background: transparent;
    border: 2px solid #eee;
    border-radius: 5px;
    color: #eee;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: inline-block;
    text-transform: capitalize;
}
h4.progress-tittle {
    color: #bbb;
    font-size: 0.85em;
    text-transform: uppercase;
    margin-bottom: 1em;
    letter-spacing: 1px;
}
.progress-one .progress {
    height: 0.5rem;
    background: #eee;
}
.progress-bar-striped {
    background-image: none;
    background-size: 1rem 1rem;
}
.statistics h3.heading {
    font-size: 40px;
    text-transform: capitalize;
    color: #eee;
    font-weight: 100;
    letter-spacing: 3px;
}
/*-- //statictics --*/

/*-- products --*/
h2.heading,h3.heading {
    font-size: 40px;
    text-transform: capitalize;
    color: #343a40;
    font-weight: 100;
    letter-spacing: 3px;
}
h2.heading strong,h3.heading strong {
    font-weight: 600;
}
.prodct1 i {
    color: #888;
    font-size: 22px;
}
.prodct1 a {
    display: block;
}
.prodct1 a:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/*-- //products --*/

/* stats */
.middlesection-w3pvt {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
}

p.counter {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
}

.text-stat p {
    color: #eee;
    font-size: 15px;
    letter-spacing: .5px;
}
p.para-text-w3ls{
    color: #ddd;
    font-size: 15px;
}
.w3layouts_stats_left span.fa {
    font-size: 35px;
    color: #f16022;
}
.text-stat h4 {
    font-size: 22px;
    color: #d5d5d5;
    line-height: 35px;
    padding: 1em;
    border: 8px solid #aaa;
}
/* //stats */

/*-- footer-top --*/

.footer-top p {
    color: #666;
    font-size: 15px;
    letter-spacing: .5px;
}
.footer-top h3 {
    font-size: 22px;
    color: #333;
}
.footer-top h3 span.fa {
    color: #f16022;
}
/*-- footer-top --*/

/*-- inner banner --*/

.inner-banner {
    background: url(../images/innerbanner.jpg)no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
	min-height: 250px;
}

.inner-layer {
    background: #130c04bf;
	min-height: 250px;
}
.breadcrumb-w3pvt{
	background: #f8f9fa;
}
.breadcrumb {
    display: -webkit-box;
    background-color: transparent;
    border-radius: 0rem;
    margin-bottom: 0rem;
    text-transform: uppercase;
}
li.breadcrumb-item a {
    color: #999;
    padding: 0;
}
/*-- //inner banner --*/

/*-- directors --*/

h4.heading{
    font-size: 24px;
    line-height: 35px;
    letter-spacing: .5px;
    color: #343a40;
}
.team-txt-info h4 {
    font-size: 21px;
    letter-spacing: .5px;
    color: #343a40;
    line-height: 30px;
}
.team p {
    color: #666;
    letter-spacing: .5px;
}
.w3-w3pvt-team-img img{
	border-radius: 0%;
}
.clients-color {
}
.w3-w3pvt-team-img {
    padding: 0 1.5em;
}
/*-- directors --*/

/*-- subscribe --*/

.subscribe {
    background: #f6f6f6;
}
.w3_head {
    text-align: center;
    color: #303030;
    margin: 0 0 .5em;
    font-size: 2.3em;
    letter-spacing: 0px;
    text-transform: uppercase;
    position: relative;
}
.subscribe p.toppara, .team p.toppara {
    color: #eee;
}
.subscribe form {
    border: 1px solid #808080;
    width: 80%;
    margin-top: 10px;
}
.w3-w3pvt-subscribe p {
    color: #777;
    font-size: 15px;
}
.subscribe h4 {
    color: #333;
    line-height: 35px;
    font-size: 23px;
    letter-spacing: 0.5px;
}
button.btn1 {
    color: #808080;
    border: none;
    padding: 13px 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 10%;
}
.w3-w3pvt-subscribe form input[type="email"] {
    outline: none;
    padding: 14px 15px;
    color: #fff;
    font-size: 15px;
    width: 90%;
    border: none;
    background: none;
    letter-spacing: 1px;
}
.w3-w3pvt-subscribe form input[type="submit"] {
    background: rgba(51, 51, 51, 0);
    font-size: 14px;
    padding: 12px 30px;
    border: 2px solid #f8f9fa;
    color: #fff;
    width: 20%;
    text-transform: capitalize;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.tittle-w3pvtinfo h2 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.subscribe p.toppara {
    font-size: 14px;
    color: #999;
    text-align: center;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-style: italic;
}
/*-- //subscribe --*/

/*-- services --*/
.icon span.fa {
    font-size: 35px;
}
.grid h3 {
    font-size: 21px;
    color: #333;
}
.grid p {
    color: #777;
    letter-spacing: .5px;
}
.icon i{
    font-size: 40px;
}
.grid a{
    background: transparent;
    border: 2px solid #666;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 9px 25px;
    display: inline-block;
}
.grid h4 {
    font-size: 23px;
    letter-spacing: 0.5px;
    color: #343a40;
}
.other_services{
	background: #f8f9fa;
}
.other_services .grid {
    box-shadow: 3px 3px 5px 0 rgba(76, 110, 245, .1);
	background: #fff;
}
.other_services .grid:hover{
	box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1)
}
/*-- //services --*/
/*-- clients --*/
.clients {
    background: linear-gradient(to left, #333333 60%, #999999 60%);
    background: #333;
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.clients h2.heading, .middlesection-w3pvt h3.heading{
	color: #fff;
}
.c-left img {
    border-radius: 50%;
    float: left;
    max-width: 32%;
}
.client-grid {
    background: #fff;
    padding: 2.5em;
}
.user-btn1 {
    float: right;
}
.user-btn1 {
    width: 30%;
    font-size: 15px;
    color: #fff;
    background: #663300;
    border: #663300;
    text-transform: capitalize;
}
.c-left .info {
    float: left;
    padding: 25px 0px 0px 20px;
}
.c-left h6 {
    font-size: 20px;
    color: #333;
}
.col-.client-grid p {
    color: #666;
    letter-spacing: .5px
}
.client-right h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    padding-top: 2.5em;
    text-transform: capitalize;
}
.statistics a i {
    font-size: 13px;
}
/*-- //clients --*/

/*-- contact --*/
.contact-form label {
    font-weight: 500;
    letter-spacing: 1px;
    color: #333;
}
.contact-form .form-control {
    padding: 0.8rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    letter-spacing: .5px;
}
.contact-form textarea {
    overflow: auto;
    resize: vertical;
    height: 8em;
}
.contact-map iframe {
    width: 100%;
    min-height: 360px;
    border: none;
    border: 4px solid #eee;
}
.contact h4 {
    font-size: 22px;
    color: #333;
}
.contact-form button.btn {
	background: none;
    border: 2px solid #f16022;
    border-radius: 5px;
    color: #fff;
	background: #f16022;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 30px;
    display: inline-block;
}

ul.list-social li {
    display: inline-block;
    list-style-type: none;
}
ul.list-social li a {
    color: #999;
    font-size: 14px;
    border: 2px solid #999;
    width: 38px;
    height: 38px;
    line-height: 36px;
    display: block;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
ul.list-social li span.fa {
    color: #fff;
    font-size: 14px;
    line-height: 36px;
}

ul.list-social li a.facebook {
    border: 2px solid #3b5998;
    background: #3b5998;
}
ul.list-social li a.twitter {
    border: 2px solid #1da1f2;
    background: #1da1f2;
}
ul.list-social li a.google {
    border: 2px solid #dd4b39;
    background: #dd4b39;
}
ul.list-social li a.linkedin {
    border: 2px solid #00a0dc;
    background: #00a0dc;
}
.contact-address ul.list-w3 span.fa {
    color: #ffc168;
}
.contact-address p {
    color: #666;
    font-size: 16px;
    letter-spacing: .5px;
}
/*-- //contact --*/

/*-- blog --*/
.blog p {
    color: #777;
}
.w3pvt-news-icon span.fa {
    color: #ffc168;
    font-size: 16px;
    text-decoration: none;
}
.w3pvt-news-icon p {
    color: #666;
    font-size: 15px;
    margin: .2em 0 0 0;
}
.w3pvtits-line {
    height: 2px;
    background: #999;
    width: 45%;
    margin: 0 0 0 auto;
}
.w3-w3pvt-news-img h4 a {
    font-size: 22px;
    line-height: 33px;
    text-transform: capitalize;
    color: #343a40;
}
/*-- //blog --*/

/*-single-*/

/*--/left--*/
body img {
    width: auto;
}
.b-grid-top {
    position: relative;
}
.bottom-b-con{
    padding: 40px 0;
}
.blog_info_left_grid {
    position: relative;
    overflow: hidden;
}
.blog-info-middle ul li a {
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #fff;
}
.blog-info-middle ul li a:hover{
	color:#EB2941;
	opacity:0.9;
}
.blog-info-middle {
    width: 100%;
    background: rgba(14, 15, 16, 0.65);
    padding: 18px;
    position: absolute;
    bottom: 0;
}
.blog_info_left_grid img {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
	background: #ebecec;
    padding: .4em;
}
.blog-info-middle ul li {
    display: inline-block;
}
.blog-grid-top h3,.two-blog2 h3,h5.card-title {
    font-size: 1.5em;
    margin: 1em 0 .5em 0;
    font-weight: 700;
}
.blog-grid-top h3 a,.two-blog2 h3 a,h5.card-title a {
	color: #333333;
}
.blog-grid-top p,.two-blog2 p{
    margin-bottom: 2em;
}
.blog-grid-top {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3em;
}
.blog-mid-sec {
    background: #eceff1;
    padding: .5em;
    margin: 1em 0;
}
button.btn.btn-primary.play.sec{
	width:40px;
	height:40px;
}
ul.blog-icons li {
    display: inline-block;
	margin-right: 20px;
	list-style:none;
}
ul.blog-icons a {
    font-size: 0.9em;
    letter-spacing: 1px;
	color: #8c9398;
}
ul.blog-icons span.fa{
    color: #ffc168;
    font-size: 1em;
    margin-bottom: 0;
}
.blog-girds-sec {
    border-top: 1px solid #ddd;
    margin-top: 1em;
    padding-top: 2em;
}
.left-blog-info p.card-text{
	color: #8c9398;
}
/*--//left--*/
/*--/right--*/
.tech-btm h4 {
    font-size: 1.5em;
    color: #333333;
    font-weight: 700;
    margin-bottom: .5em;
}
.tech-btm p{
	font-size:15px;
}
.tech-btm {
    margin-bottom: 2em;
}
.tech-btm input[type="email"] {
      width: 100%;
    color: #737070;
    outline: none;
    font-size: 14px;
    padding: .9em 1.5em;
    border: 2px solid #eceff1;
    -webkit-appearance: none;
    letter-spacing: 1px;
    margin: 1em 0;
}
.tech-btm button.btn {
    background: #ffc168;
    font-weight: 500;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
}
.tech-btm input[type="submit"]:hover{
    background: #333;
}
.widget_social li {
    display: block;
}
.widget_social li a {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
	margin-bottom: 10px;
    padding: 10px 20px;
    text-transform: capitalize;
    width: 100%;
}
.widget_social li a:hover{
	opacity:0.7;
	color:#fff;
}

.widget_social li a.twitter {
    background: #57baf7;
}
.widget_social li a.facebook {
    background: #3b5998;
}
.widget_social li a.dribble {
	background: #ea4c89;
}
.widget_social li a.pin {
	background: #BD081C;
}
.widget_social li a i {
    font-size: 18px;
    position: relative;
    text-align: left;
    width: 35px;
    color: #fff;
}
.widget_social li a .count {
    padding-left: 20px;
}
.tech-btm h5 {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
    margin-top: 0em;
}
.tech-btm h5 a{
   color:#333;
}
.sub-meta span {
    font-size: 0.8em;
    color: #a9abad;
    line-height: 2.5em;
}
/*--//right--*/
ul.list-group.single {
    color: #727373;
    font-size: 15px;
}

ul.list-group.single .badge-primary {
    color: #fff;
    background-color: #ffc168;
}
h5.mt-0 {
    color: #343a40;
     font-size: 1.2em;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

.progress {
    font-size: 0.75em;
    line-height: 8em;
    text-align: center;
    background-color: #d6d9da;
    border-radius: 0.25rem;
    margin-bottom: 1em;
}

.card-body {
    padding: 12px;
}

.card-header {
    padding: 0;
    color: #0e0f10;
}

.card-header button.btn.btn-link {
    color: #555;
    font-weight: 600;
}

.single-gd form input {
    width: 100%;
}

.single-gd img {
    margin-bottom: 1em;
}

.comment-top input[type="text"],
.comment-top input[type="email"],
.comment-top textarea {
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #e2e2e2;
    padding: 0.7em 1em;
    font-size: 15px;
    color: #777;
    margin: 0 0 0.7em;
    letter-spacing: 1px;
}
.comment-top textarea {
    height: 150px;
}
.comment-top button.btn.btn-primary.submit[type="submit"] {
    text-align: center;
    border: none;
    outline: none;
    margin: 0 auto;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
    background: #ffc168;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: inline-block;
}
.read a {
    background: #ffc168;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: inline-block;
}

.single-gd form input[type="email"] {
    outline: none;
    padding: 12px 15px;
    font-size: 13px;
    color: #777;
    background: #ffffff;
    letter-spacing: 2px;
    border: none;
    border: 1px solid #ddd;
    margin: 0;
    border-radius: 0;
}

.single-gd form input[type="submit"] {
    background: #555;
    padding: .8em 1em;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 1em;
}

.single-gd form input[type="submit"]:hover {
    background: #080808;
}

.media-body p {
    color: #777;
    line-height: 1.9em;
    margin-top: 1em;
    margin-bottom: 3em;
    letter-spacing: .5px;
    font-weight: normal;
}

.comment h3,
.comment-top h4 {
    color: #555;
    font-size: 1.4em;
    text-align: left;
    padding: 0 0 0.5em;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    margin-bottom: 1em;
}

.media img {
    margin-right: 15px;
    width: 18%;
}

.comment-top {
    margin-top: 2em;
}

/* //blog responsive code */

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width:1366px) {
    
}

@media screen and (max-width:1280px) {}

@media screen and (max-width: 1080px) {
    .blog_info p {
        line-height: 1.5;
        letter-spacing: 0.3px;
    }
    .blog_info {
        min-height: 275px;
        padding: 1em 2em;
    }
    .blog_info.blog-right {
        min-height: 305px;
        width: 100%;
    }
/*    section.advantages.pt-5 {
        margin-left: 0% !important; 
        margin-right: 0% !important; 
    }*/
}

@media screen and (max-width: 1050px) {
    .blog_info.blog-right {
        min-height: 297px;
    }
    .blog-x.br-mar {
        margin-top: 1.2em;
    }
    .blog_info.blog-right {
        min-height: 370px;
    }
    .blog_info.blog-right {
		min-height: 370px;
		width: 100%;
	}
	.blog_info.blog-right.two {
		min-height: 369px;
    }
    .single-gd h4 {
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) {
    .blog_info.blog-right {
		min-height: 372px;
	}
	.blog_info.blog-right.two {
		min-height: 373px;
	}
}

@media screen and (max-width: 991px) {
    .blog_info {
        min-height: auto;
        padding:2em 2em;
    }
    .blog_info.blog-right {
        min-height: auto;
    }
    .blog-side.blog-top-right {
        padding-right: 0;
        margin-top: 1em;
    }
    .blog_info.blog-right.two {
        min-height: auto;
    }
    .single-gd h4 {
         font-size: 1em;
    }
    .single-left {
        margin-top: 2em;
    }
    .right-blog-con {
        margin-top: 2em;
    }
    ul.blog-icons a {
        font-size: 0.8em;
    }
    .right-blog-con.left-blog-2 {
        margin: 0;
    }
}
@media screen and (max-width: 736px) {
	.blog-grid-left {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 667px) {
    .blog-side.blog-top-right {
        padding-right: 0;
        margin-top: 1em;
        padding: 0;
    }
    .blog-sp {
        padding: 0;
    }
    .single-left {
        margin-top: 2em;
        padding: 0;
    }
}

@media screen and (max-width: 640px) {
    .blog-sp {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .comment-top input[type="submit"] {
        width:40%;
    }
}

@media screen and (max-width: 568px) {
	.tech-btm:nth-child(6) {
		margin-bottom: 0;
	}
	.widget_social li a .count {
		padding-left: 0px;
	}
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 414px) {
    .comment-top input[type="submit"] {
        width:45%;
    }
	.media {
		flex-direction: column;
	}
}

@media screen and (max-width: 384px) {
	.left-blog-info p.card-text {
		font-size: 14px;
	}
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}

/* //blog responsive code */

/*-- move top --*/

.move-top {
    position: relative;
}

a.move-top {
    text-align: center;
    position: absolute;
    right: 1%;
    bottom: 0%;
}

a.move-top span{
    color: #fff;
    width: 36px;
    height: 36px;
    border: transparent;
    line-height: 2em;
    background: #333;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
}

/*-- //move top --*/


/*-- responsive design --*/

@media(max-width:1440px) {
    
}
@media(max-width:1280px) {
    h2.b-w3ltxt, h3.b-w3ltxt {
		font-size: 3.4em;
	}
	#logo a {
		font-size: 0.7em;
	}
}
@media(max-width:1080px) {
    footer h4 {
		font-size: 20px;
		letter-spacing: .5px;
	}
	ul.list-w3 li a, ul.list-w3 li, .footer p.head, .copy-right p, .middle p {
		font-size: 15px;
		letter-spacing: .5px;
	}
	.footer-top h3 {
		font-size: 20px;
		letter-spacing: .5px;
	}
	.text-stat h4 {
		font-size: 19px;
		line-height: 28px;
		letter-spacing: 0.5px;
		border: 6px solid #aaa;
	}
	p.counter {
		font-size: 2.5em;
	}
	.products_grids h3 {
		font-size: 20px;
	}
	.statistics p {
		font-size: 15px;
	}
	.bottom_grids img, .image-grids img {
		width: 60px;
	}
	h4.heading {
		font-size: 21px;
		line-height: 33px;
	}
	.team-txt-info h4 {
		font-size: 20px;
	}
	.team-txt-info p {
		font-size: 15px;
	}
	.advantages_grids h3 {
		font-size: 21px;
	}
	.services .grid {
		padding: 0 6px;
	}
	.w3pvt-news-icon p {
		font-size: 14px;
	}
	.blog p {
		font-size: 15px;
	}
	.tech-btm h4 {
		font-size: 1.3em;
	}
	.tech-btm h5 {
		font-size: .9em;
		line-height: 1.3em;
	}
}
@media(max-width:991px) {
    nav li.last-grid a {
		margin-top: 0px;
	}
	.csslider>.navigation {
		bottom: 10%;
	}
	.banner-text-w3pvt {
		width: 90%;
	}
	.bottom_grids p {
		font-size: 15px;
	}
	.grid1, .grid2, .grid3 {
		padding: 0 10px;
	}
	.bottom_grids h3 {
		font-size: 23px;
	}
	.products_grids h3 {
		font-size: 17px;
		line-height: 24px;
		letter-spacing: 0px;
	}
	.products_grids .col-md-3 {
		padding: 0 9px;
	}
	.products_grids img {
		width: 65px;
	}
	.copy-right ul.list-w3 {
		justify-content: flex-start;
	}
	h2.b-w3ltxt, h3.b-w3ltxt{
		letter-spacing: 0px;
	}
	h4.b-w3ltxt {
		letter-spacing: 1px;
	}
	h2.heading, h3.heading,.statistics h3.heading {
		font-size: 38px;
		letter-spacing: 2px;
	}
	p.counter {
		font-size: 2.2em;
	}
	.client-grid {
		padding: 2em;
	}
	.inner-banner,.inner-layer {
		min-height: 200px;
	}
	.services .grid {
		padding: 0 15px;
	}
	.services .grid1 img,.services .grid4 img,.services .grid3 img,.services .grid5 img,.services .grid6 img,.services .grid7 img {
		width: 60px;
	}
}
@media(max-width:768px) {
    h2.b-w3ltxt, h3.b-w3ltxt {
		font-size: 3em;
	}
	h4.b-w3ltxt {
		letter-spacing: 1px;
		font-size: 2.8em;
	}
	.bottom_grids img, .image-grids img {
		width: 50px;
	}
	.contact-map iframe {
		min-height: 300px;
	}
}
@media(max-width: 736px) {
    .banner-text-w3pvt {
		width: 100%;
		padding: 22vw 0 4vw;
	}
	.w3layouts_stats_left span.fa {
		font-size: 30px;
	}
	h2.heading, h3.heading,.statistics h3.heading {
		font-size: 36px;
		letter-spacing: 1px;
	}
	h2.b-w3ltxt, h3.b-w3ltxt {
		font-size: 2.8em;
	}
	h4.b-w3ltxt {
		letter-spacing: 1px;
		font-size: 2.6em;
	}
	.csslider>.navigation {
		bottom: -2%;
	}
	.banner-text-w3pvt {
		width: 100%;
		padding: 20vw 0 10vw;
	}
	.c-left img {
		max-width: 20%;
	}
	.other_services .col-lg-4 {
		padding: 0 5px;
	}
	.grid h4 {
		font-size: 20px;
	}
}
@media(max-width:668px) {
    header {
		padding: 5px 0;
	}
}
@media(max-width:600px) {
    .footer-top p {
		font-size: 14px;
		letter-spacing: .5px;
	}
	h2.b-w3ltxt, h3.b-w3ltxt {
		font-size: 2.6em;
	}
	h4.b-w3ltxt {
		letter-spacing: 1px;
		font-size: 2.2em;
	}
	.image-grids {
		margin: 0 0px;
	}
	.btn-banner,.btn-banner1 {
		font-size: 14px;
	}
	.inner-banner, .inner-layer {
		min-height: 180px;
	}
}
@media(max-width:568px) {
    .banner-text-w3pvt {
		padding: 22vw 0 12vw;
	}
	h2.b-w3ltxt, h3.b-w3ltxt {
		font-size: 2.4em;
	}
	h4.b-w3ltxt {
		letter-spacing: 1px;
		font-size: 2em;
	}
	.advantages_grids p {
		font-size: 15px;
	}
	.banner {
		background: url(../images/banner.jpg)no-repeat center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
	}
	.copy-right{
		text-align: center;
	}
	.copy-right ul.list-w3 li {
		display: inline-block;
	}
	.inner-banner, .inner-layer {
		min-height: 150px;
	}
	.w3-w3pvt-team-img {
		padding: 0 .5em;
	}
	.other_services .grid img {
		width: 100%;
	}
	.other_services .col-lg-4 {
		padding: 0 15px;
	}
	.w3pvtits-line {
		display: none;
	}
	.w3pvt-news-icon {
		width: 33.33%;
		float: left;
		text-align: center;
		margin-bottom: 1em;
	}
}
@media(max-width:480px) {
    .advantages_grids h3, .products_grids h3 {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .5px;
	}
	.subscribe h4 {
		line-height: 30px;
		font-size: 20px;
	}
	.subscribe form {
		width: 90%;
	}
	.c-left .info {
		padding: 10px 0px 0px 20px;
	}
	.grid h3 {
		font-size: 19px;
	}
	.w3-w3pvt-news-img h4 a {
		font-size: 20px;
		line-height: 30px;
	}
	.blog-grid-top h3, .two-blog2 h3, h5.card-title {
		font-size: 1.3em;
		letter-spacing: 0;
	}
	.contact h4 {
		font-size: 20px;
	}
}
@media(max-width:415px) {
	.banner-text-w3pvt {
		padding: 30vw 0 8vw;
	}
	.csslider>.navigation {
		bottom: 8%;
	}
	.toggle {
		font-size: 18px;
	}
	p {
		line-height: 1.9em;
	}
	.image-grids .col-lg-3 {
		padding-right: 5px;
	}
	.bottom_grids img, .image-grids img {
		width: 40px;
	}
	.middlesection-w3pvt {
		background: url(../images/banner.jpg) no-repeat center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.footer-top h3 {
		font-size: 18px;
	}
	h2.heading, h3.heading, .statistics h3.heading {
		font-size: 34px;
	}
	.advantages_grids h3 {
		font-size: 19px;
		line-height: 30px;
	}
	.w3-w3pvt-team-img {
		padding: 0 0em;
	}
	.inner-banner, .inner-layer {
		min-height: 120px;
	}
	.c-left img {
		max-width: 25%;
	}
	li.breadcrumb-item a,li.breadcrumb-item {
		font-size: 14px;
	}
	.services .grid1 img, .services .grid4 img, .services .grid3 img, .services .grid5 img, .services .grid6 img, .services .grid7 img {
		width: 50px;
	}
	.media img {
		width: 33%;
	}
	.media-body p {
		line-height: 1.8em;
		margin-top: .7em;
		font-size: 15px;
		margin-bottom: 2em;
	}
}
@media(max-width:384px) {
    h2.heading, h3.heading, .statistics h3.heading {
		font-size: 30px;
	}
	.products_grids h3 {
		font-size: 17px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.banner-text-w3pvt {
		padding: 28vw 0 3vw;
	}
	
	h2.b-w3ltxt, h3.b-w3ltxt {
		font-size: 2.2em;
	}
	h4.b-w3ltxt {
		font-size: 1.8em;
	}
	#logo a {
		font-size: 0.6em;
	}
	nav a {
		font-size: 14px;
	}
	nav ul li {
		padding: 5px 0;
	}
	.w3layouts_stats_left span.fa {
		font-size: 25px;
	}
	p.counter {
		font-size: 1.8em;
	}
	.csslider>.navigation label,.csslider>.navigation label:after {
		width: 10px;
		height: 10px;
	}
	.csslider>.navigation label {
		margin: 0 4px;
	}
	.products_grids img {
		width: 55px;
	}
	.statistics a {
		font-size: 14px;
	}
	.c-left img {
		max-width: 27%;
	}
	.col-.client-grid p {
		font-size: 15px;
	}
	.team .item {
		padding: 0 7px;
	}
	.team-txt-info p {
		font-size: 14px;
	}
	.team-txt-info h4 {
		font-size: 19px;
		line-height: 25px;
	}
	.w3-w3pvt-subscribe p {
		font-size: 14px;
	}
	.subscribe h4 {
		line-height: 27px;
		font-size: 18px;
	}
	.media img {
		width: 33%;
		margin-bottom: 1em;
		margin-right: 0px;
	}
	.tech-btm h4 {
		font-size: 1.2em;
	}
	.contact-form label,.contact-form .form-control {
		font-size: 15px;
	}
}
@media(max-width:375px) {
    
}
@media(max-width:320px) {
    
}

.fld{
    width: 57%;
}

.p-3 a img.img-fluid{
    height: 65px;
}

/*-- //responsive design --*/

nav ul li a:link,
nav ul li a:visited {
    background :transparent;
}
nav ul li:hover a:link,
nav ul li:hover a:visited {
    background: #f16022;
}
nav .hm-menu .hli:hover a:link,
nav .hm-menu .hli:hover a:visited {
    background: #f16022;
}


career-row {
        height: 300px;
        padding: 10px;
        border-radius: 15px 15px 0px 0px;
        background: #ddd;
        margin-bottom: 3px;
    }
    .button-box {
      margin: 0 auto;
      background: rgba(2, 4, 48, 0.99);
      padding: 35px;
      /*border: 2px solid #fff;*/
      background-clip: padding-box;
      text-align: center;
      border-radius: 0px 0px 17px 17px;
    }

    .button {
      font-size: 1em;
      padding: 10px;
      color: #fff;
      border: 2px solid #f16022;
      border-radius: 20px/50px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
    .button:hover {
      background: #f16022;
      color: black;
    }
    .career-row h4 {
        margin-bottom: 10px !important;
    }

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;    
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }
    .popup {
      margin: 100px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 70%;
      height: 70%;
      position: relative;
      transition: all 5s ease-in-out;
      overflow-y:scroll;
    }
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    .close:hover {
      color: #06D85F;
    }
    .linkservice{
        border: none !important;
        padding: 0px !important;
    }
    
    .career-row {
        height: 300px;
        padding: 10px;
        border-radius: 15px 15px 0px 0px;
        background: #ddd;
        margin-bottom: 3px;
    }
    .button-box {
      margin: 0 auto;
      background: rgba(2, 4, 48, 0.99);
      padding: 35px;
      /*border: 2px solid #fff;*/
      background-clip: padding-box;
      text-align: center;
      border-radius: 0px 0px 17px 17px;
    }

    .button {
      font-size: 1em;
      padding: 10px;
      color: #fff;
      border: 2px solid #f16022;
      border-radius: 20px/50px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
    .button:hover {
      background: #f16022;
      color: black;
    }
    .career-row h4 {
        margin-bottom: 10px !important;
    }

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;    
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }
    .popup {
      margin: 100px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 70%;
      height: 70%;
      position: relative;
      transition: all 5s ease-in-out;
      overflow-y:scroll;
    }
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    .close:hover {
      color: #06D85F;
    }

    .about-readmore {
        background: #fff;
        border: 1px solid #ddd;
        height: 5%;
        width: 25%;
    }

    button.about-readmore a {
        color: #77777b;
    }

    .c-left {
        list-style: none;
    }

    h3.my-3.aaaaa {
        height: 40px;
    }

    .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 0.125rem solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -0.125rem;
}

.nav-tabs .nav-link {
  border: 0.125rem solid transparent;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -0.125rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.5rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1abc9c;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar > .container,
.navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
section.advantages.pt-5 {
    margin-left: 13%;
    margin-right: 13%;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
  color: #fff;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #fff;
}
/*  .navbar {
    display: none;
  }*/

  #mainNav {
  /*padding-top: 1rem;*/
  /*padding-bottom: 1rem;*/
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #212529;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #1abc9c;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    /*padding-top: 1.5rem;*/
    /*padding-bottom: 1.5rem;*/
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #1abc9c;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #1abc9c;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.bg-secondary{
background-color: #000000 !important;
}
.jssor_1{
    position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;
}
@media screen and (max-width: 669px) {
    .advantages{
        padding-top: 10% !important;
    }
}
@media screen and (max-width: 435px) {
    .advantages{
        padding-top: 10% !important;
    }
}



@media screen and (min-width: 668px) {
    .hpage{
        padding-top: 44% !important;
    }
}

.slider{
    padding-bottom: 3%;
}

.mobmenu{
    background-color: #f16022 !important;
}

.mobmenu:focus{
    background-color: #f16022 !important;
}

.mobmenu:active{
    background-color: #f16022 !important;
}
.navbar-toggler{
    background-color: #f16022 !important;
}
@media screen and (max-width: 991px) {
    .navbar-collapse{
        border-top: 1px solid #fff;
    }
    .mobnavsc{
        position: relative;
        right: 39%;
    }
}
.after_hover {
    display: none;
    position: absolute;
    top:0px;
    width: 100%;
}

.grid4:hover .before_hover{
    display: none;
}
.ef-box:hover .after_hover {
    display: block !important;
    /*position: absolute;*/
}

/*.ef {
    width: 100%;
    padding: 15px 0;
}*/
.ef .ef-box {
    /*height: 130px;*/
    /*width: 130px;*/
    background-color: #efefef;

    border: 1px solid #FFEB3B;
    /*line-height: 130px;*/
    text-align: center;
    margin: 10px;
    margin-left: 0;
    font-size: 12px;
}
.sweep-to-top {
  position: absolute;
  top:0px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
  width: 100%;
  height: 100%;
}
.sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 0;
  right: 40px;
  bottom: 10px;
  background: #fbfbfb;
  border: 1px solid #FFEB3B;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;

}
.sweep-to-top:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.ef-box:hover .sweep-to-top{
}
.gallery {
    padding: 60px 0px 70px;
}
.da-thumbs {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.da-thumbs li {
    float: left;
    margin: 0.4%;
    padding: 3px;
    position: relative;
    width: 24%;
}
.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative;
  width: 100%;
}
.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a div {
    position: absolute;
    background: rgba(0, 0, 0, 0.82);
    width: 100%;
    height: 100%;
}
.da-thumbs li a div p {
  display: block;
     padding: 0 0;
    margin: 5px 20px 10px 20px;
  font-weight: normal;
  text-transform: capitalize;
  color: rgba(255,255,255,0.9);
  text-align: center;
  font-size:0.95em;
  line-height:1.9em;
  
}
.da-thumbs li a div  h5 {
    color: #FFF;
    font-size: 2em;
    margin: 1em 0 0 0;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
}
.da-thumbs li a div h5 span {
    color: #B56D10;
}
.da-thumbs li a div h5 span {
    color: #da8b25;
}
.team-sec {
    padding: 0;
}
/* --walk-- */  
.padding-upcoming span{
    color:red;
}           
.trailer iframe {
    width: 100%;
    height:440px;
}
.trailer {
        padding-left: 0;
}

.sub-img {
    width:34%;
    float: left;
}

.sub-img img{
    width:82%;
}

.sub-text {
    float: right;
    width: 66%;
    margin: 0px;
}

.sub-text h4 {
    text-align: left;
    padding: 0.5em;
    background-color: #fff;
    line-height: 1.6em;
    text-decoration: none;
    display: block;
    color: #000;
    font-size: 1.4em;
    font-weight: 400;
}

.sub-text p {
    font-size: 1em;
    line-height: 1.9em;
    color: #888;
    margin-top: 8px;
}
.gallery-grids {
    margin-top: 2em;
}

.col-md-12.nt_about p {
    margin: 10px 0px !important;
}
.col-lg-6.mt-lg-0.mt-4.nt_about_button {
    padding: 0;
}
.animation-content {
    width: 209px;
    transform: translateY(50%);
}
.animation-content h5,
.animation-content a {
    text-align: center;
    line-height: 30px;
}

.animation-content a {
    font-size: 18px;
    color: #343a40;
}
.animation-content a:hover {
    color: #007bff;
}
.animation-content h5 span {
    color: #f06123;
}

.nt_travel {
    position: relative;
}
.nt_travel .sweep-to-top {
    left: 0;
}
.sweep-to-top-travel {
  position: absolute;
  top:0px;
  left: 0px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
  width: 100%;
  height: 100%;
}
.sweep-to-top-travel:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  background: #fbfbfb;
  border: 1px solid #FFEB3B;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
  width: 100%;
  height: 100%;
}
.sweep-to-top-travel:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.nt_travel .sweep-to-top-travel .animation-content {
    width: 100%;
}
.nt_travel .ef-box img {
    height: 154px;
}

/*//faq*/

.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
}
.panel-group .panel .panel-heading {
    padding: 0;
}
.panel-group .panel .panel-heading h4 a {
    background: #f6f9fc;
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
    color: #292f76;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
    /*background: #fff;*/
    color:#f16022;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "-";
    font-size: 30px;
    line-height: 10px;
}
.panel-group .panel .panel-heading h4 a i {
    color: #999;
    font-size: 12px;
}
.panel-group .panel .panel-body {
    padding-top: 0;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}
.panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
}
.panel-body.pxlr-faq-body {
    border: 1px solid #f06122;
    padding: 5px 20px;
    text-align: justify;
    background: #f8f9fa;
    border-radius: 3%;
    margin-top: 8px;
    margin-bottom: 5px;
}
/*faq*/

/*app*/


.nt_app_body {
    width: 75%;
    display: flex;
    left: 0;
    right: 0;
    margin: 20px auto;
}
.info {
    border-right: 2px solid #d6d1d1;
    height: 29px;
    line-height: 16px;
}
.text-center {
    text-align: center!important;
}
.infolast {
    height: 29px;
    line-height: 16px;
}
.outerdiv {
    margin-left: 28%;
    margin-right: 28%;
    border: 1px solid lightgrey;
    background-color: #e6e6ff !important;
}
.fa-chevron-left {
    position: absolute;
    bottom: 50%;
    left: -10px;
}
.fa-chevron-right {
    position: absolute;
    bottom: 50%;
    right: -10px;
}
.btndw {
    margin-bottom: 5px;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}